/* h1 {
    color: #7D80DA;
    margin: 2%;
    margin-right: 8%;
}
button {
    background: #7D80DA;
    height: 50px;
    width: 200px;
    margin: 0px 25px;
    color: #fff;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 500;
    border: 1px;
    cursor: pointer;
    transition: .3s;
  }
  button:hover {
    transform: scale(1.2);
    transition: .3s;
  }
  .button {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      margin-top: 1%;
      margin-right: 2%;
  }
  .burgerButton{
    display: none;
}
/*Responsive*/
/* @media screen and (max-width: 768px) {
  .burgerButton{
      display: block;
      width: 50px;
  }
} */ 
